#contact-us {

    background-image: url('../img/1.6.png');
    background-size: cover;
    background-position: center;

    .caption {
        margin-top: 20px;

        h1 {
            font-size: 52px;
        }
    }

}

#questions {
    background-image: url('../img/1.3.png');
    background-size: cover;
    background-position: bottom;


    .question {
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: bold;
            color: $text-black;
            font-size: 24px;
            margin-bottom: 25px;
        }

        input {
            border: solid 1px #cccccc;
            margin-bottom: 20px;
            padding: 10px 2px;
            border-radius: 5px;
            background: transparent;
            outline: none;

            @include transition(all 0.3s) &:focus {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                background-color: #f8f8f8;
            }

        }

        textarea {
            padding: 10px 2px;
            border-radius: 5px;
            background: transparent;
            outline: none;
            height: 195px;
        }
    }
}

#office {
    padding-top: 0;
    .boxes {
        display: flex;
        justify-content: center;
        .secondary-color {
            background-color: $secondary-color;
        }

        .tetriary-color {
            background-color: #342A6D;
        }

        .box {
            padding: 40px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
                i{
                    color: white;
                }
                span{
                    color: white;
                }
            }
            h1 {
                font-size: 24px;
                margin-bottom: 25px;
                font-weight: bold;
                color: white;
            }

        }
    }


}