#header-nav {
    ul {
        li {
            a {
                color: $second-black-color;
            }

        }
    }
}

#business {
    background-image: url("../img/1.png");
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    .info {
        h6 {
            font-size: 19px;
            margin-top: 0;
            margin-bottom: 20px;
            font-weight: bold;
            color: $text-black;
        }

        h2 {
            font-size: 52px;
            margin-bottom: 20px;
            line-height: 56px;
            letter-spacing: -1px;
            font-weight: bold;
            margin-top: 0;
            color: $text-black;

            span {
                color: $primary-color;
            }
        }

        p.lead {
            font-size: 17px;
            line-height: 1.7em;
            margin-top: 0;
            font-weight: 600;
            margin-bottom: 20px;
            color: $light-black;
        }

    }
}