@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@media (max-width: 575.98px) {
  section {
    padding: 50px 0 !important;
  }
  .navbar {
    display: none;
  }
  #mobile-header {
    display: block;
  }
  #mobile-header .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mobile-header .mobile-nav .show-area {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    background-color: white;
  }
  #mobile-header .mobile-nav .show-area button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4px;
  }
  #mobile-header .mobile-nav .show-area button i {
    font-size: 18px;
    color: white;
    margin-right: 5px;
  }
  #mobile-header .mobile-nav .show-area i {
    font-size: 30px;
    color: #017DFC;
    cursor: pointer;
  }
  #mobile-header .mobile-nav .hide-area .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li {
    border-bottom: solid 1px #eee;
    padding: 10px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px #8492a6;
    color: #35404e;
    padding: 10px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a i {
    padding: 0 30px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a:hover {
    text-decoration: none;
  }
  #business img {
    width: 100%;
  }
  #our-services section {
    padding-bottom: 0 !important;
  }
  #our-services .col-lg-4 {
    margin: 10px 0;
  }
  #security section {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  #testimonial .elements {
    width: 100% !important;
  }
  #footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  #footer-top .col-lg-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0px;
  }
  #footer-top .col-lg-4 .col-lg-6 {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
  }
  #copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #copyright .copyright {
    margin-bottom: 10px;
  }
  #copyright .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #copyright .social i {
    margin: 25px;
  }
  #contact-us {
    text-align: center;
  }
  #contact-us .col-lg-6 {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  #header-nav {
    display: none;
  }
  #mobile-header {
    display: block;
  }
  #mobile-header .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mobile-header .mobile-nav .show-area {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    background-color: white;
  }
  #mobile-header .mobile-nav .show-area button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile-header .mobile-nav .show-area button i {
    font-size: 18px;
    color: white;
    margin-right: 5px;
  }
  #mobile-header .mobile-nav .show-area i {
    font-size: 30px;
    color: #017DFC;
    cursor: pointer;
  }
  #mobile-header .mobile-nav .hide-area .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li {
    border-bottom: solid 1px #eee;
    padding: 10px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px #8492a6;
    color: #35404e;
    padding: 10px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a i {
    padding: 0 30px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a:hover {
    text-decoration: none;
  }
  #our-services section {
    padding-bottom: 0 !important;
  }
  #our-services .col-lg-4 {
    margin: 10px 0;
  }
  #footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  #footer-top .col-lg-4 {
    margin: 10px 0px;
  }
  #footer-top .col-lg-4 .col-lg-6 {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
  }
  #contact-us {
    text-align: center;
  }
  #contact-us .col-lg-6 {
    margin-top: 20px;
  }
  #awesome .awesome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #awesome .awesome h4 {
    text-align: center;
  }
  #different .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  #header-nav {
    display: none;
  }
  #mobile-header {
    display: block;
    padding: 10px 0;
  }
  #mobile-header .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mobile-header .mobile-nav .show-area {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    background-color: white;
  }
  #mobile-header .mobile-nav .show-area .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mobile-header .mobile-nav .show-area .button button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
  }
  #mobile-header .mobile-nav .show-area .button button i {
    font-size: 18px;
    color: white;
    margin-right: 5px;
  }
  #mobile-header .mobile-nav .show-area i {
    font-size: 30px;
    color: #017DFC;
    cursor: pointer;
  }
  #mobile-header .mobile-nav .hide-area .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li {
    border-bottom: solid 1px #eee;
    padding: 10px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px #8492a6;
    color: #35404e;
    padding: 10px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a i {
    padding: 0 30px;
  }
  #mobile-header .mobile-nav .hide-area .main-menu li a:hover {
    text-decoration: none;
  }
  #our-services section {
    padding-bottom: 0 !important;
  }
  #our-services .col-lg-4 {
    margin: 10px 0;
  }
  #security section {
    padding-top: 0px !important;
  }
  #testimonial .elements {
    width: 100% !important;
  }
  #footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  #footer-top .col-lg-4 {
    margin: 10px 0px;
  }
  #footer-top .col-lg-4 .col-lg-6 {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
  }
  #contact-us {
    text-align: center;
  }
  #contact-us .col-lg-6 {
    margin-top: 20px;
  }
  #carousel2 .carousel-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #carousel2 .carousel-items h4 {
    text-align: center;
  }
  #awesome .awesome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #awesome .awesome h4 {
    text-align: center;
  }
  #different .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 992px) {
  #mobile-header {
    display: none;
  }
}

button.btn {
  color: #fff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 12px 30px;
  min-width: 120px;
  outline: 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  font-size: 14px;
  background: #017DFC;
  z-index: 1;
}

button.btn:hover {
  color: #fff;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.3);
  box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.3);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  padding: 90px 0 90px 0;
  position: relative;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.uptitle {
  display: block;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #017DFC;
}

.is-sticky {
  background-color: white;
  margin-top: 0px;
  padding: 0;
}

.caption h1 {
  font-size: 52px;
  margin-bottom: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  color: #35404e;
  font-weight: bold;
  margin-top: 66px;
}

.caption p {
  font-size: 16px;
  font-weight: 400;
  color: #8492a6;
  line-height: 1.7em;
}

#header-nav .navbar {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header-nav .navbar .navbar-nav .nav-item {
  margin: auto 30px;
}

#header-nav .navbar .navbar-nav .nav-item .nav-link {
  padding: 25px 0;
  position: relative;
  color: #222;
}

#header-nav .navbar .navbar-nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: #8492a6;
  bottom: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#header-nav .navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}

#header-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  position: absolute;
  top: 60px;
  left: -20px;
}

#header-nav .navbar .navbar-nav .nav-item .dropdown-menu a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 15px;
  width: 210px;
}

#header-nav .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #017DFC;
  color: white;
}

#business {
  background-image: url("../img/1.png");
  background-position: bottom center;
  background-size: cover;
}

#business .info h6 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  color: #35404e;
}

#business .info h2 {
  font-size: 52px;
  margin-bottom: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 0;
  color: #35404e;
}

#business .info h2 span {
  color: #017DFC;
}

#business .info p.lead {
  font-size: 17px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8492a6;
}

#our-services {
  background-image: url("../img/1.2.png");
  background-size: cover;
}

#our-services .section-title h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #35404e;
}

#our-services .section-title p.lead {
  font-size: 17px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8492a6;
}

#our-services .elements {
  height: 350px;
  width: 100%;
  overflow: none;
  padding: 50px;
  background: #f5f9fd;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#our-services .elements .logo {
  margin-bottom: 20px;
}

#our-services .elements .logo i {
  text-align: center;
  font-size: 28px;
  color: white;
  background-color: #017DFC;
  padding: 14px 0;
  width: 56px;
  height: 56px;
  border-radius: 33px;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
}

#our-services .elements .logo i.fa-paper-plane {
  background-color: #292BA0;
}

#our-services .elements .logo i.fa-chart-line {
  background-color: #292BA0;
}

#our-services .elements h2 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  color: #35404e;
}

#our-services .elements p {
  font-size: 17px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8492a6;
}

#our-services .elements .bg-logo {
  position: absolute;
  font-size: 240px;
  background: none;
  width: auto;
  height: auto;
  color: rgba(0, 0, 0, 0.2);
  right: -30px;
  top: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#our-services .elements:hover {
  background-color: #017DFC;
  -webkit-box-shadow: 8px 8px 60px 0px rgba(20, 20, 20, 0.3);
  box-shadow: 2px 2px 60px 0px rgba(20, 20, 20, 0.3);
}

#our-services .elements:hover h2,
#our-services .elements:hover p {
  color: white;
}

#our-services .elements:hover .bg-logo {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

#security {
  background-image: url("../img/1.3.png");
  background-position: bottom center;
  background-size: cover;
}

#security .image img {
  width: 100%;
}

#security .info {
  width: 100%;
}

#security .info h2 {
  font-size: 52px;
  margin-bottom: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 0;
  color: #35404e;
}

#security .info h2 span {
  color: #017DFC;
}

#security .info p.lead {
  font-size: 17px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8492a6;
}

#testimonial {
  background-image: url("../img/1.2.png");
  background-size: cover;
}

#testimonial .section-title {
  margin-bottom: 20px;
}

#testimonial .section-title h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #35404e;
}

#testimonial .section-title p.lead {
  font-size: 17px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8492a6;
}

#testimonial .elements {
  height: 400px;
  width: 350%;
  overflow: none;
  padding: 50px;
  background: #f5f9fd;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#testimonial .elements .logo {
  margin-bottom: 20px;
}

#testimonial .elements i {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background-color: #017DFC;
  font-size: 18px;
  border-bottom-right-radius: 20px;
}

#testimonial .elements p {
  font-size: 16px;
  padding: 40px 0 0 0;
  line-height: 1.7em;
  font-weight: 600;
  margin-bottom: 20px;
  color: #8492a6;
}

#testimonial .elements .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#testimonial .elements .image img {
  border-radius: 50%;
  width: 35%;
}

#testimonial .elements .image h6 {
  margin-top: 10px;
  color: #017DFC;
  font-size: 14px;
}

#counter {
  background-color: #342A6D;
}

#counter .counter .info {
  padding: 20px 0 10px 0;
  color: #f8f9fa;
}

#counter .counter .value {
  font-size: 40px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  line-height: .5em;
  font-weight: 600;
}

#counter .counter .key {
  font-size: 12px;
  text-transform: uppercase;
}

#footer {
  background: #F5F9FD;
}

#footer #footer-top {
  padding-top: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer #footer-top .logo {
  margin-bottom: 20px;
}

#footer #footer-top .logo-info {
  color: #8492a6;
}

#footer #footer-top .logo-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

#footer #footer-top .content h5 {
  margin-top: 0;
  font-family: "Nunito";
  font-weight: bold;
  color: #35404e;
  margin-bottom: 20px;
}

#footer #footer-top .content ul li a {
  color: #8492a6;
  text-decoration: none;
  line-height: 1.7em;
  font-size: 16px;
  font-weight: 400;
}

#footer #footer-top .content ul li a:hover {
  color: #017DFC;
}

#footer #footer-top .content p {
  color: #8492a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

#footer #footer-top .content small {
  color: #8492a6;
  font-size: 80%;
}

#footer #footer-top .content .search {
  position: relative;
}

#footer #footer-top .content .search input {
  outline: none;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
}

#footer #footer-top .content .search i {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #017DFC;
  color: white;
  padding: 3px 30px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 36px;
  cursor: pointer;
}

#footer #copyright {
  padding-top: 0;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer #copyright .copyright p {
  color: #8492a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

#footer #copyright .social i {
  margin-left: 10px;
  background-color: #017DFC;
  color: white;
  border: 1px solid #017DFC;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#footer #copyright .social i:hover {
  background-color: white;
  color: #017DFC;
  border: 1px solid #017DFC;
}

#faqs {
  background: url("../img/1.4.png");
  background-size: cover;
  background-position: center;
}

#faq-services {
  margin-top: 0px;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#faq-services .info .show-faq-area {
  background-color: white;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
}

#faq-services .info .show-faq-area a {
  padding: 10px;
  text-decoration: none;
  color: #343a40 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#faq-services .info .show-faq-area a h2 {
  font-weight: bold;
}

#faq-services .info .hide-faq-area {
  background-color: white;
  padding: 1.5rem !important;
}

#faq-services .info .hide-faq-area p {
  font-size: 16px;
  font-weight: 400;
  color: #8492a6;
  line-height: 1.7em;
}

#contact-us {
  background-image: url("../img/1.5.png");
  background-position: center;
  background-size: cover;
}

#contact-us .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-us .contact-us i.fa-phone-alt {
  font-size: 48px;
  color: #017DFC;
  margin-bottom: 10px;
}

#contact-us .contact-us h1 {
  font-weight: bold;
  color: #35404e;
  line-height: 48px;
  letter-spacing: -1px;
  font-size: 36px;
  color: #35404e;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

#contact-us .contact-us h1 span {
  color: #017DFC;
}

#contact-us .contact-us p {
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  color: #8492a6;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#contact-us h1 {
  font-weight: bold;
  color: #35404e;
  line-height: 48px;
  letter-spacing: -1px;
  font-size: 36px;
  color: #35404e;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

#contact-us h1 span {
  color: #017DFC;
}

#contact-us p {
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 600;
  color: #8492a6;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#about-us {
  background: url("../img/1.4.png");
  background-size: cover;
  background-position: center;
}

#different {
  padding-top: 0;
  margin-top: 0;
}

#different .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#different .content img {
  width: 100%;
}

#different .content h1 {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #35404e;
}

#different .content p {
  font-size: 16px;
  font-weight: 400;
  color: #8492a6;
  line-height: 1.7em;
  margin-bottom: 20px;
}

#team {
  background-image: url("../img/1.3.png");
  background-size: cover;
}

#team .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .content .image::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: '';
  width: 100%;
  background-color: #017DFC;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  opacity: 0.5;
}

#team .content .image img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  width: 100%;
  z-index: 0;
  border-radius: 15px;
  height: 100%;
}

#team .content .social-links {
  cursor: pointer;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  bottom: 10%;
  width: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .content .social-links i {
  padding: 5px;
  color: #017DFC;
}

#team .content:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#team .content:hover .image::after {
  background-color: transparent;
}

#team .content:hover .social-links {
  background-color: #017DFC;
}

#team .content:hover .social-links i {
  color: white;
}

#team .naming {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#team .naming h3 {
  font-weight: bold;
  color: #35404e;
  font-size: 19px;
}

#team .naming p {
  font-size: 16px;
  font-weight: 400;
  color: #8492a6;
  line-height: 1.7em;
}

#carousel2 .carousel-items {
  background-color: whitesmoke;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

#carousel2 .carousel-items h4 {
  font-weight: bold;
  color: #35404e;
  font-size: 19px;
  margin-left: 40px;
}

#awesome {
  background-color: #292BA0;
  padding: 50px;
}

#awesome .awesome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#awesome .awesome h4 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#contact-us {
  background-image: url("../img/1.6.png");
  background-size: cover;
  background-position: center;
}

#contact-us .caption {
  margin-top: 20px;
}

#contact-us .caption h1 {
  font-size: 52px;
}

#questions {
  background-image: url("../img/1.3.png");
  background-size: cover;
  background-position: bottom;
}

#questions .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#questions .question h1 {
  font-weight: bold;
  color: #35404e;
  font-size: 24px;
  margin-bottom: 25px;
}

#questions .question input {
  border: solid 1px #cccccc;
  margin-bottom: 20px;
  padding: 10px 2px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#questions .question input:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-color: #f8f8f8;
}

#questions .question textarea {
  padding: 10px 2px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  height: 195px;
}

#office .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#office .boxes .secondary-color {
  background-color: #292BA0;
}

#office .boxes .tetriary-color {
  background-color: #342A6D;
}

#office .boxes .box {
  padding: 40px;
  border-radius: 10px;
  margin: 0 20px;
}

#office .boxes .box h1 {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  color: white;
}

#office .boxes .box .location,
#office .boxes .box .call,
#office .boxes .box .mail,
#office .boxes .box .document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#office .boxes .box .location i,
#office .boxes .box .call i,
#office .boxes .box .mail i,
#office .boxes .box .document i {
  color: white;
  font-size: 15px;
  margin-right: 5px;
}

#office .boxes .box .location span,
#office .boxes .box .call span,
#office .boxes .box .mail span,
#office .boxes .box .document span {
  color: white;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.7em;
}
/*# sourceMappingURL=style.css.map */