button.btn {
    color: #fff;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 12px 30px;
    min-width: 120px;
    outline: 0;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    background: $primary-color;
    z-index: 1;
    &:hover {
        color: #fff;
        -webkit-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.3);
        -moz-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.3);
        box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.3);
    }
}
